{% extends '::base.html.twig' %}
{% import ':recipe:show_summary.html.twig' as r %}
{% import ':collection:show_summary.html.twig' as c %}

{% block title %}User Panel{% endblock %}

{% block body %}

<h1>User panel for {{ user.username }}</h1>
<hr/>
    <div id="action_bar">
        <a href="{{ path('recipe_new') }}">Create new recipe</a> |
        <a href="{{ path('collection_new') }}">Create new collection</a> |
        <a href="{{ path('personaltag_new') }}">Create new personal tag</a>
    </div>
    <hr/>
    <div id="recipes">
        <h3>Your recipes :</h3>
        {% if user.recipes is empty %}
            <p>You haven't created any recipes yet. Get to work !</p>
        {% else %}
            <ul>
            {% for recipe in user.recipes %}
                <li>{{ r.recipe_summary(recipe, "userpanel") }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div id="collections">
        <h3>Your collections :</h3>
        {% if user.collections is empty %}
            <p>You haven't created any collections yet. Get to work !</p>
        {% else %}
            <ul>
                {% for colle in user.collections %}
                    <li>{{ c.coll_summ(colle) }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div id="personal_tags">
        <h3>Your personal tags :</h3>
        {% if user.collections is empty %}
            <p>You haven't created any personal tag yet.</p>
        {% else %}
            <ul>
                {% for tag in user.personalTags %}
                    <li><a href="{{ path('personaltag_edit', {'id':tag.id}) }}">{{ tag.name }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

{% endblock %}