{% macro recipe_summary(recipe) %}
    <h3><a href="{{ path('recipe_show', {'id': recipe.id}) }}">{{ recipe.getTitle() }}</a></h3> <!-- TODO: link to detail view -->
    <p>{{ recipe.getSummary() }}</p>
    <p>by {{ recipe.getAuthor().getName() }} on {{ recipe.getCreationDate|date('Y-m-d H:i:s') }} {% if recipe.public %}(public){% endif %}</p>
{% endmacro %}
